@model SGIAMTP.Models.TTanda

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>TTanda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VtDescripcion" class="control-label"></label>
                <input asp-for="VtDescripcion" class="form-control" />
                <span asp-validation-for="VtDescripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VtDescripcion1" class="control-label"></label>
                <input asp-for="VtDescripcion1" class="form-control" />
                <span asp-validation-for="VtDescripcion1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItGanador" class="control-label"></label>
                <input asp-for="ItGanador" class="form-control" />
                <span asp-validation-for="ItGanador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VtTipoTanda" class="control-label"></label>
                <input asp-for="VtTipoTanda" class="form-control" />
                <span asp-validation-for="VtTipoTanda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItEstado" class="control-label"></label>
                <input asp-for="ItEstado" class="form-control" />
                <span asp-validation-for="ItEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtFechaHora" class="control-label"></label>
                <input asp-for="DtFechaHora" class="form-control" />
                <span asp-validation-for="DtFechaHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
