@model SGIAMTP.Models.TUsuario

@{
    ViewData["Title"] = "Edit";
}
<style>
    #contenedor {
        margin-top: 20px;
    }

    #temporal {
        margin-top: 10px;
    }
</style>
<div id="contenedor" class="container-fluid" style="font-size:16px; font-family:'Century Gothic'">
    <div class="row col-xs-12 col-md-12 col-lg-12">
        <div class="col-lg-2"></div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <div>
                    <h4 class="panel-title">Editar Usuario - Administardor</h4>
                </div>
            </div>

            <div class="panel panel-body form-group">

                <div class="form-group">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="PkIuDni" />

                        <div class="row col-xs-12 col-md-12 col-lg-12">
                            <div class="form-group  col-xs-4 col-md-4 col-lg-4">
                                <label asp-for="VuNombre" class="control-label">Nombre:</label>
                                <input asp-for="VuNombre" class="form-control" />
                                <span asp-validation-for="VuNombre" class="text-danger"></span>
                            </div>

                            <div class="form-group  col-xs-4 col-md-4 col-lg-4">
                                <label asp-for="VuApaterno" class="control-label">Apellido Paterno:</label>
                                <input asp-for="VuApaterno" class="form-control" />
                                <span asp-validation-for="VuApaterno" class="text-danger"></span>
                            </div>
                            <div class="form-group  col-xs-4 col-md-4 col-lg-4">
                                <label asp-for="VuAmaterno" class="control-label">Apellido Materno:</label>
                                <input asp-for="VuAmaterno" class="form-control" />
                                <span asp-validation-for="VuAmaterno" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row col-xs-12 col-md-12 col-lg-12">
                            <div class="form-group  col-xs-4 col-md-4 col-lg-4">
                                <label asp-for="DuFechaNacimiento" class="control-label">Fecha de Nacimiento:</label>
                                <input asp-for="DuFechaNacimiento" class="form-control" disabled/>
                                <input asp-for="DuFechaNacimiento" hidden/>
                                <span asp-validation-for="DuFechaNacimiento" class="text-danger"></span>
                            </div>
                            <div class="form-group  col-xs-4 col-md-4 col-lg-4">
                                <label asp-for="VuContraseña" class="control-label">Contraseña:</label>
                                <input asp-for="VuContraseña" class="form-control" />
                                <span asp-validation-for="VuContraseña" class="text-danger"></span>
                            </div>
                            <div class="form-group  col-xs-4 col-md-4 col-lg-4">
                                <label asp-for="VuSexo" class="control-label">Sexo:</label>

                                <select asp-for="VuSexo" class="form-control">
                                    <option value="" selected>Seleccione...</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                </select>

                                @*<input asp-for="VuSexo" disabled class="form-control" />*@
                                <span asp-validation-for="VuSexo" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row col-xs-12 col-md-12 col-lg-12">
                            <div class="form-group  col-xs-4 col-md-4 col-lg-4">
                                <label asp-for="VuNacademia" class="control-label">Academia:</label>
                                <input asp-for="VuNacademia" class="form-control" />
                                <span asp-validation-for="VuNacademia" class="text-danger"></span>
                            </div>
                            <div class="form-group  col-xs-4 col-md-4 col-lg-4">
                                <label asp-for="FkIuCodCategoria" class="control-label">Categoria:</label>
                                <select disabled asp-for="FkIuCodCategoria" class="form-control" asp-items="ViewBag.FkIuCodCategoria"></select>
                                <input hidden asp-for="FkIuCodCategoria" />
                                <span asp-validation-for="FkIuCodCategoria" class="text-danger"></span>
                            </div>
                            <div class="form-group  col-xs-4 col-md-4 col-lg-4">
                                <label asp-for="FkItuTipoUsuario" class="control-label">Tipo de Usuario:</label>
                                <select disabled asp-for="FkItuTipoUsuario" class="form-control" asp-items="ViewBag.FkItuTipoUsuario"></select>
                                <input asp-for="FkItuTipoUsuario" hidden />
                                <span asp-validation-for="FkItuTipoUsuario" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row col-xs-12 col-md-12 col-lg-12">
                            <div class="form-group  col-xs-8 col-md-8 col-lg-8">
                                <label asp-for="VuFoto" class="control-label">Foto:</label>
                                <input onchange="javascript: encodeFotoUsuarioEdit();"  class="form-control" type="file" id="VuFoto_UsuarioEdit"/>
                                <span asp-validation-for="VuFoto" class="text-danger"></span>

                                <textarea asp-for="VuFoto" id="VuFoto_UsuarioTextArea" hidden></textarea>

                            </div>

                            <div class="form-group  col-xs-2 col-md-2 col-lg-2">
                                <label class="control-label"> </label>
                                <input type="submit" value="Actualizar" class="form-control btn btn-success " />
                            </div>
                            <div class="form-group  col-xs-2 col-md-2 col-lg-2">
                                <label class="control-label"> </label>
                                <a class="form-control btn btn-danger " asp-action="Index">Regresar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    function encodeFotoUsuarioEdit() {

        var selectedfile = document.getElementById("VuFoto_UsuarioEdit").files;

        if (selectedfile.length > 0) {

            var imageFile = selectedfile[0];
            var fileReader = new FileReader();

            fileReader.onload = function (fileLoadedEvent) {

                var srcData = fileLoadedEvent.target.result;

                var newImage = document.createElement('img');
                newImage.src = srcData;
                newImage.style.height = "100px";
                newImage.style.width = "100px";
                //document.getElementById("verFoto").innerHTML = newImage.outerHTML;
                //document.getElementById("codigoFoto").value = document.getElementById("verFoto").innerHTML;
                document.getElementById("VuFoto_UsuarioTextArea").value = srcData;
                //console.log(srcData)
            }

            fileReader.readAsDataURL(imageFile);
        }
    }

</script>
