USE [master]
GO
/****** Object:  Database [DB_A4F05E_SGIAMTP]    Script Date: 14/11/2019 14:41:20 ******/
CREATE DATABASE [DB_A4F05E_SGIAMTP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_A4F05E_SGIAMTP_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB_A4F05E_SGIAMTP_DATA.mdf' , SIZE = 17664KB , MAXSIZE = 1024000KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'DB_A4F05E_SGIAMTP_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB_A4F05E_SGIAMTP_Log.LDF' , SIZE = 18176KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_A4F05E_SGIAMTP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_A4F05E_SGIAMTP]
GO
/****** Object:  Table [dbo].[T_Categoria]    Script Date: 14/11/2019 14:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Categoria](
	[PK_IC_CodCat] [int] NOT NULL,
	[VC_NomCategoria] [varchar](50) NULL,
 CONSTRAINT [PK_T_Categoria] PRIMARY KEY CLUSTERED 
(
	[PK_IC_CodCat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Concurso]    Script Date: 14/11/2019 14:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Concurso](
	[PK_IC_IdConcurso] [int] IDENTITY(1,1) NOT NULL,
	[VC_NombreCon] [varchar](50) NULL,
	[VC_LugarCon] [varchar](50) NULL,
	[DC_FechaConcurso] [datetime] NULL,
	[FK_IEC_IdEstado] [int] NULL,
	[IC_CantidadSeri] [int] NULL,
	[IC_CantidadNove] [int] NULL,
 CONSTRAINT [PK_T_Concurso] PRIMARY KEY CLUSTERED 
(
	[PK_IC_IdConcurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_EstadoCon]    Script Date: 14/11/2019 14:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_EstadoCon](
	[PK_IE_IdEstado] [int] NOT NULL,
	[VE_NombreEsta] [varchar](50) NULL,
 CONSTRAINT [PK_T_EstadoCon] PRIMARY KEY CLUSTERED 
(
	[PK_IE_IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_ModalidadCon]    Script Date: 14/11/2019 14:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ModalidadCon](
	[PK_IM_IdModalidad] [int] NOT NULL,
	[VM_NombreMod] [varchar](50) NULL,
 CONSTRAINT [PK_T_ModalidadCon] PRIMARY KEY CLUSTERED 
(
	[PK_IM_IdModalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Puntaje]    Script Date: 14/11/2019 14:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Puntaje](
	[PK_IP_CodP] [int] IDENTITY(1,1) NOT NULL,
	[IP_Puntaje] [int] NOT NULL,
	[IP_NumeroJurado] [int] NOT NULL,
	[FK_VUMT_COD] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_Puntaje] PRIMARY KEY CLUSTERED 
(
	[PK_IP_CodP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Tanda]    Script Date: 14/11/2019 14:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Tanda](
	[PK_IT_CodTan] [int] IDENTITY(1,1) NOT NULL,
	[VT_Descripcion] [varchar](50) NOT NULL,
	[VT_Descripcion1] [varchar](50) NULL,
	[IT_Ganador] [int] NULL,
	[VT_TipoTanda] [varchar](50) NULL,
	[IT_Estado] [int] NULL,
	[DT_FechaHora] [smalldatetime] NULL,
 CONSTRAINT [PK_T_Tanda] PRIMARY KEY CLUSTERED 
(
	[PK_IT_CodTan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_TipoUsuario]    Script Date: 14/11/2019 14:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_TipoUsuario](
	[PK_ITU_TipoUsuario] [int] NOT NULL,
	[VTU_NombreTipoUsuario] [varchar](50) NULL,
 CONSTRAINT [PK_T_TipoUsuario] PRIMARY KEY CLUSTERED 
(
	[PK_ITU_TipoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Usuario]    Script Date: 14/11/2019 14:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Usuario](
	[PK_IU_Dni] [int] NOT NULL,
	[VU_Nombre] [varchar](50) NULL,
	[VU_APaterno] [varchar](50) NULL,
	[VU_AMaterno] [varchar](50) NULL,
	[DU_FechaNacimiento] [datetime] NULL,
	[VU_Contraseña] [varchar](50) NULL,
	[VU_Sexo] [varchar](50) NULL,
	[VU_NAcademia] [varchar](50) NULL,
	[FK_IU_CodCategoria] [int] NULL,
	[FK_ITU_TipoUsuario] [int] NULL,
	[VU_Foto] [varchar](max) NULL,
 CONSTRAINT [PK_T_Usuario] PRIMARY KEY CLUSTERED 
(
	[PK_IU_Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Usuario_Modalidad]    Script Date: 14/11/2019 14:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Usuario_Modalidad](
	[PK_IUM_CodUM] [int] IDENTITY(100,1) NOT NULL,
	[FK_IU_Dni] [int] NOT NULL,
	[FK_IC_IdConcurso] [int] NOT NULL,
	[FK_IM_IdModalidad] [int] NOT NULL,
	[IUM_Fase] [nvarchar](50) NULL,
	[FK_IU_Dni_Pareja] [int] NULL,
	[DUM_FechaIns] [date] NOT NULL,
	[VM_UM_ArchivoDni] [varchar](max) NOT NULL,
	[VM_UM_ArchivoB] [varchar](max) NOT NULL,
	[FK_IE_Estado] [int] NULL,
 CONSTRAINT [PK_T_Usuario_Modalidad_1] PRIMARY KEY CLUSTERED 
(
	[PK_IUM_CodUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Usuario_Modalidad_Tanda]    Script Date: 14/11/2019 14:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Usuario_Modalidad_Tanda](
	[PK_VUMT_COD] [varchar](50) NOT NULL,
	[FK_IUMT_CodPart] [int] NOT NULL,
	[FK_IUMT_CodTan] [int] NOT NULL,
	[IUMT_PuntajeTotal] [int] NULL,
	[IUMT_Pista] [int] NULL,
	[IUMT_Estado] [int] NULL,
 CONSTRAINT [PK_T_Usuario_Modalidad_Tanda] PRIMARY KEY CLUSTERED 
(
	[PK_VUMT_COD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[T_Categoria] ([PK_IC_CodCat], [VC_NomCategoria]) VALUES (1, N'Master')
INSERT [dbo].[T_Categoria] ([PK_IC_CodCat], [VC_NomCategoria]) VALUES (2, N'Infante')
INSERT [dbo].[T_Categoria] ([PK_IC_CodCat], [VC_NomCategoria]) VALUES (3, N'Pre Infante')
SET IDENTITY_INSERT [dbo].[T_Concurso] ON 

INSERT [dbo].[T_Concurso] ([PK_IC_IdConcurso], [VC_NombreCon], [VC_LugarCon], [DC_FechaConcurso], [FK_IEC_IdEstado], [IC_CantidadSeri], [IC_CantidadNove]) VALUES (9, N'Concurso 1', N'En la casa de Bacilio', CAST(N'2019-10-24T00:00:00.000' AS DateTime), 2, 12, 20)
INSERT [dbo].[T_Concurso] ([PK_IC_IdConcurso], [VC_NombreCon], [VC_LugarCon], [DC_FechaConcurso], [FK_IEC_IdEstado], [IC_CantidadSeri], [IC_CantidadNove]) VALUES (24, N'Concurso 3', N'Avenida la Marina 481, San Miguel, Peru', CAST(N'2019-10-08T00:00:00.000' AS DateTime), 1, 12, 15)
SET IDENTITY_INSERT [dbo].[T_Concurso] OFF
INSERT [dbo].[T_EstadoCon] ([PK_IE_IdEstado], [VE_NombreEsta]) VALUES (1, N'En Curso')
INSERT [dbo].[T_EstadoCon] ([PK_IE_IdEstado], [VE_NombreEsta]) VALUES (2, N'Finalizado')
INSERT [dbo].[T_EstadoCon] ([PK_IE_IdEstado], [VE_NombreEsta]) VALUES (3, N'En Espera')
INSERT [dbo].[T_ModalidadCon] ([PK_IM_IdModalidad], [VM_NombreMod]) VALUES (1, N'Seriado')
INSERT [dbo].[T_ModalidadCon] ([PK_IM_IdModalidad], [VM_NombreMod]) VALUES (2, N'Novel')
SET IDENTITY_INSERT [dbo].[T_Tanda] ON 

INSERT [dbo].[T_Tanda] ([PK_IT_CodTan], [VT_Descripcion], [VT_Descripcion1], [IT_Ganador], [VT_TipoTanda], [IT_Estado], [DT_FechaHora]) VALUES (1, N'seriado', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[T_Tanda] ([PK_IT_CodTan], [VT_Descripcion], [VT_Descripcion1], [IT_Ganador], [VT_TipoTanda], [IT_Estado], [DT_FechaHora]) VALUES (2, N'novel', NULL, NULL, N'eliminatoria', NULL, NULL)
INSERT [dbo].[T_Tanda] ([PK_IT_CodTan], [VT_Descripcion], [VT_Descripcion1], [IT_Ganador], [VT_TipoTanda], [IT_Estado], [DT_FechaHora]) VALUES (3, N'seriado', N'Juvenil', NULL, N'Final1', NULL, NULL)
SET IDENTITY_INSERT [dbo].[T_Tanda] OFF
INSERT [dbo].[T_TipoUsuario] ([PK_ITU_TipoUsuario], [VTU_NombreTipoUsuario]) VALUES (1, N'Participante')
INSERT [dbo].[T_TipoUsuario] ([PK_ITU_TipoUsuario], [VTU_NombreTipoUsuario]) VALUES (2, N'Administrador')
INSERT [dbo].[T_TipoUsuario] ([PK_ITU_TipoUsuario], [VTU_NombreTipoUsuario]) VALUES (3, N'Jurado')
SET IDENTITY_INSERT [dbo].[T_Usuario_Modalidad] ON 

SET IDENTITY_INSERT [dbo].[T_Usuario_Modalidad] OFF
ALTER TABLE [dbo].[T_Concurso]  WITH CHECK ADD  CONSTRAINT [FK_T_Concurso_T_EstadoCon] FOREIGN KEY([FK_IEC_IdEstado])
REFERENCES [dbo].[T_EstadoCon] ([PK_IE_IdEstado])
GO
ALTER TABLE [dbo].[T_Concurso] CHECK CONSTRAINT [FK_T_Concurso_T_EstadoCon]
GO
ALTER TABLE [dbo].[T_Puntaje]  WITH CHECK ADD  CONSTRAINT [FK_T_Puntaje_T_Usuario_Modalidad_Tanda] FOREIGN KEY([FK_VUMT_COD])
REFERENCES [dbo].[T_Usuario_Modalidad_Tanda] ([PK_VUMT_COD])
GO
ALTER TABLE [dbo].[T_Puntaje] CHECK CONSTRAINT [FK_T_Puntaje_T_Usuario_Modalidad_Tanda]
GO
ALTER TABLE [dbo].[T_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_T_Usuario_T_Categoria] FOREIGN KEY([FK_IU_CodCategoria])
REFERENCES [dbo].[T_Categoria] ([PK_IC_CodCat])
GO
ALTER TABLE [dbo].[T_Usuario] CHECK CONSTRAINT [FK_T_Usuario_T_Categoria]
GO
ALTER TABLE [dbo].[T_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_T_Usuario_T_TipoUsuario] FOREIGN KEY([FK_ITU_TipoUsuario])
REFERENCES [dbo].[T_TipoUsuario] ([PK_ITU_TipoUsuario])
GO
ALTER TABLE [dbo].[T_Usuario] CHECK CONSTRAINT [FK_T_Usuario_T_TipoUsuario]
GO
ALTER TABLE [dbo].[T_Usuario_Modalidad]  WITH CHECK ADD  CONSTRAINT [FK_T_Usuario_Modalidad_T_Concurso1] FOREIGN KEY([FK_IC_IdConcurso])
REFERENCES [dbo].[T_Concurso] ([PK_IC_IdConcurso])
GO
ALTER TABLE [dbo].[T_Usuario_Modalidad] CHECK CONSTRAINT [FK_T_Usuario_Modalidad_T_Concurso1]
GO
ALTER TABLE [dbo].[T_Usuario_Modalidad]  WITH CHECK ADD  CONSTRAINT [FK_T_Usuario_Modalidad_T_EstadoCon] FOREIGN KEY([FK_IE_Estado])
REFERENCES [dbo].[T_EstadoCon] ([PK_IE_IdEstado])
GO
ALTER TABLE [dbo].[T_Usuario_Modalidad] CHECK CONSTRAINT [FK_T_Usuario_Modalidad_T_EstadoCon]
GO
ALTER TABLE [dbo].[T_Usuario_Modalidad]  WITH CHECK ADD  CONSTRAINT [FK_T_Usuario_Modalidad_T_ModalidadCon] FOREIGN KEY([FK_IM_IdModalidad])
REFERENCES [dbo].[T_ModalidadCon] ([PK_IM_IdModalidad])
GO
ALTER TABLE [dbo].[T_Usuario_Modalidad] CHECK CONSTRAINT [FK_T_Usuario_Modalidad_T_ModalidadCon]
GO
ALTER TABLE [dbo].[T_Usuario_Modalidad]  WITH CHECK ADD  CONSTRAINT [FK_T_Usuario_Modalidad_T_Usuario2] FOREIGN KEY([FK_IU_Dni])
REFERENCES [dbo].[T_Usuario] ([PK_IU_Dni])
GO
ALTER TABLE [dbo].[T_Usuario_Modalidad] CHECK CONSTRAINT [FK_T_Usuario_Modalidad_T_Usuario2]
GO
ALTER TABLE [dbo].[T_Usuario_Modalidad]  WITH CHECK ADD  CONSTRAINT [FK_T_Usuario_Modalidad_T_Usuario3] FOREIGN KEY([FK_IU_Dni_Pareja])
REFERENCES [dbo].[T_Usuario] ([PK_IU_Dni])
GO
ALTER TABLE [dbo].[T_Usuario_Modalidad] CHECK CONSTRAINT [FK_T_Usuario_Modalidad_T_Usuario3]
GO
ALTER TABLE [dbo].[T_Usuario_Modalidad_Tanda]  WITH CHECK ADD  CONSTRAINT [FK_T_Usuario_Modalidad_Tanda_T_Tanda] FOREIGN KEY([FK_IUMT_CodTan])
REFERENCES [dbo].[T_Tanda] ([PK_IT_CodTan])
GO
ALTER TABLE [dbo].[T_Usuario_Modalidad_Tanda] CHECK CONSTRAINT [FK_T_Usuario_Modalidad_Tanda_T_Tanda]
GO
ALTER TABLE [dbo].[T_Usuario_Modalidad_Tanda]  WITH CHECK ADD  CONSTRAINT [FK_T_Usuario_Modalidad_Tanda_T_Usuario_Modalidad] FOREIGN KEY([FK_IUMT_CodPart])
REFERENCES [dbo].[T_Usuario_Modalidad] ([PK_IUM_CodUM])
GO
ALTER TABLE [dbo].[T_Usuario_Modalidad_Tanda] CHECK CONSTRAINT [FK_T_Usuario_Modalidad_Tanda_T_Usuario_Modalidad]
GO
/****** Object:  StoredProcedure [dbo].[sp_VerUsuario]    Script Date: 14/11/2019 14:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_VerUsuario] 
as
select * from Usuario;
GO
USE [master]
GO
