@model SGIAMTP.Models.TUsuarioModalidad

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>TUsuarioModalidad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FkIuDni" class="control-label"></label>
                <select asp-for="FkIuDni" class ="form-control" asp-items="ViewBag.FkIuDni"></select>
            </div>
            <div class="form-group">
                <label asp-for="FkIcIdConcurso" class="control-label"></label>
                <select asp-for="FkIcIdConcurso" class ="form-control" asp-items="ViewBag.FkIcIdConcurso"></select>
            </div>
            <div class="form-group">
                <label asp-for="FkImIdModalidad" class="control-label"></label>
                <select asp-for="FkImIdModalidad" class ="form-control" asp-items="ViewBag.FkImIdModalidad"></select>
            </div>
            <div class="form-group">
                <label asp-for="IumFase" class="control-label"></label>
                <input asp-for="IumFase" class="form-control" />
                <span asp-validation-for="IumFase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkIuDniPareja" class="control-label"></label>
                <select asp-for="FkIuDniPareja" class ="form-control" asp-items="ViewBag.FkIuDniPareja"></select>
            </div>
            <div class="form-group">
                <label asp-for="DumFechaIns" class="control-label"></label>
                <input asp-for="DumFechaIns" class="form-control" />
                <span asp-validation-for="DumFechaIns" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VmUmArchivoDni" class="control-label"></label>
                <input asp-for="VmUmArchivoDni" class="form-control" />
                <span asp-validation-for="VmUmArchivoDni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VmUmArchivoB" class="control-label"></label>
                <input asp-for="VmUmArchivoB" class="form-control" />
                <span asp-validation-for="VmUmArchivoB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
