@model SGIAMTP.Models.TPuntaje

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>TPuntaje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PkIpCodP" />
            <div class="form-group">
                <label asp-for="IpPuntaje" class="control-label"></label>
                <input asp-for="IpPuntaje" class="form-control" />
                <span asp-validation-for="IpPuntaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IpNumeroJurado" class="control-label"></label>
                <input asp-for="IpNumeroJurado" class="form-control" />
                <span asp-validation-for="IpNumeroJurado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkVumtCod" class="control-label"></label>
                <select asp-for="FkVumtCod" class="form-control" asp-items="ViewBag.FkVumtCod"></select>
                <span asp-validation-for="FkVumtCod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

